@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --red:#ff3838;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

*::selection{
  background:var(--red);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
  background:#f7f7f7;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size: 7rem;
  padding:5rem;
  color:rgb(246, 66, 66);
}

.heading:hover{
  color: rgba(2, 107, 19, 0.787);
}

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.site-header { 
 
  background-color: rgb(3, 3, 75);;
  padding: .5em 1em;
  display: flex;
  justify-content: space-between;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .6em 0;
  height: 90%;
  width: 0;
  display:inherit;
}


.btn{
  display: inline-block;
  padding:.8rem 3rem;
  border:.2rem solid var(--red);
  color:var(--red);
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bolder;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  width:0%;
  height:100%;
  background:var(--red);
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before{
  width:100%;
  left: 0;
}

.btn:hover{
  color:#fff;
}


.offers .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:15rem;
  
  
}

.offers .box-container .box{
  padding:2rem;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(245, 241, 241, 0.1);
  border:.1rem solid rgba(145, 141, 141, 0.3);
  border-radius: .5rem;
  text-align: center;
  flex:1 1 30rem;
  position: relative;
}
.offers .box-container .box:hover{
  
  /*transform: skew(20deg, 0);*/
  
  transform: scale(1.2);
  transition: all ease 0.8s;
 
}

.offers .box-container .box img{
  height:30rem;
  object-fit: cover;
  width:100%;
  border-radius: 5rem;
}


.offers .box-container .box h3{
  color:#333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.offers .box-container .box p{
  color:#333;
  font-size: 1.5rem;
  padding-top: 1rem;
}

